.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.erros{
  font-size:12px;
}

.erros_input{
  font-size:12px;
}
.btn-primary {
  background-color: #3350cb !important;
  border-radius: 0;
}
.btn-success{
  background-color: #108f47;
  border-radius: 2px;
  color: #ffffff;
}

.btn-danger{
  background-color: #ad1f1f;
  border-radius: 2px

}

.card{
  border-radius: 2px
}


